@{
    ViewData["Title"] = "Juego";
}

<div>
    <h1>AhorcadORT</h1>
    <img src="#">
    <input id="palabra" type="Hidden" value="@ViewBag.palabra">
    <p id="rayitas"></p>
    <input id="intentos" type="Hidden">

    <!-- <form id="finJuegoForm" asp-controller="Home" asp-action="FinJuego" method="get">
        <input id="intentos" name="intentos" type="hidden" value="0">
    </form> -->

    <input id="inputUsuario" type="text" placeholder="Elegir letra o palabra" name="eleccion">



    <button onclick="arriesgarLetra()">Arriesgar Letra</button>
    <button onclick="arriesgarPalabra()">Arriesgar Palabra</button>
    
</div>

<script>

    const palabra = document.getElementById("palabra").value
    let letrasEncotradas = []


    function crearTablero(letras){

        document.getElementById("rayitas").innerHTML = ""

        for(let char of palabra){
            
            if(letras.includes(char)){
                document.getElementById("rayitas").innerHTML += char
            }
            else{
                document.getElementById("rayitas").innerHTML += "_ "
            }
    
        }

    }

    crearTablero(letrasEncotradas)

    function arriesgarLetra() {

        let encontro = false
        let ciclos = 0

debugger
        while (encontro == false && ciclos < palabra.length) {
            
            if(palabra[ciclos] == document.getElementById("inputUsuario").value){

                encontro = true

            }
            ciclos++
        }

        if(encontro){
            letrasEncotradas.push(document.getElementById("inputUsuario").value)
        }
        else{
            let intentos = parseInt(document.getElementById("intentos").value) || 0
            document.getElementById("intentos").value = intentos + 1
        }
        crearTablero(letrasEncotradas)
        if(letrasEncotradas.length = palabra.length){
            // finJuego()
        }
        return encontro
    }

    function arriesgarPalabra() {
        if(palabra == document.getElementById("inputUsuario").value){
            // finJuego()
        }
        else{
            alert("incorrecto")
            let intentos = parseInt(document.getElementById("intentos").value) || 0
            document.getElementById("intentos").value = intentos + 1
        }
    }

    // function finJuego() {
    //     document.getElementById("finJuegoForm").submit()
    // }


</script>